#monitor-list-content {
  ::ng-deep .p-accordion {
    ::ng-deep .p-accordion-tab-active {
      margin-bottom: 0;
    }

    ::ng-deep .p-mr-2:last-child {
      margin-right: 50px !important;
    }

    .cron {
      font-family: monaco;
      font-size: 2rem;
    }

    a {
      color: inherit;
    }
  }
}
