<div id="monitor-list-content">
  <p-accordion>
    <p-accordionTab *ngFor="let monitor of monitors">
      <ng-template pTemplate="header">
        <div class="p-d-flex p-jc-between" style="width: 100%;">
          <div class="p-mr-2"><a href="">{{monitor.endpoint}}</a></div>
          <div class="p-mr-2 cron">{{monitor.schedule}}</div>
        </div>
      </ng-template>
    </p-accordionTab>
  </p-accordion>

  <div class="add-monitor">
    <button pButton pRipple type="button"
      icon="pi pi-plus"
      class="p-button-rounded p-button-plain p-button-text"
      (click)="isMonitorVisible = !isMonitorVisible"
      [ngClass]="{'monitor-visible': isMonitorVisible}">
    </button>
  </div>
</div>

<p-sidebar
  [(visible)]="isMonitorVisible"
  [modal]="false"
  [dismissible]="true"
  [showCloseIcon]="false"
  [baseZIndex]="100"
  [autoZIndex]="false"
  position="bottom">

  <div id="sidebar-content">
    <div class="p-d-flex">

    </div>
  </div>
</p-sidebar>
